ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    gap: 20px;
    padding: 20px;
}
  
li {
    background-color: #1a1a1a;
    color: white;
    padding-bottom: 100px;
    padding-left: 20px;
}

.selected {
    border: 4px solid blue;
    background-color: #313131;
}

.hidden {
    display: none;
}